body {
    background: linear-gradient(to right, purple, blue);
}

header {
    background-color: rgb(60, 29, 64);
    color: #fff;
    padding: 10px;
    text-align: center;
}

#game-library, #favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes rainbow {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: lime;}
    57% {color: blue;}
    71% {color: indigo;}
    85% {color: violet;}
    100% {color: red;}
}

.rainbow-text h1 {
    animation: rainbow 4s linear infinite;
}

body {
    background-color: lightblue;
}

.game-image {
    width: 300px;
    height: 210px;
    object-fit: contain;
    margin: 10px;
}

#favorites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

/* Default styles for larger screens */
#logo, #paper-mario {
    position: fixed;
    right: 0;
}

#logo {
    top: 80%;
    transform: translateY(-50%);
}

#paper-mario {
    top: 105%;
    right: 180px;
    transform: translateY(-50%);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #logo {
        position: static; /* Change position to static for mobile */
        width: 100px; /* Adjust the size to fit mobile screens */
        height: auto;
        margin: 1px auto; /* Adjust top margin for the logo */
    }

    #paper-mario {
        position: static; /* Change position to static for mobile */
        width: 100px; /* Adjust the size to fit mobile screens */
        height: auto;
        margin: 45px auto; /* Adjust top margin for the Mario image */
    }

    #favorites {
        display: block; /* Change display to block for mobile */
    }

    .favorite-item {
        width: 100%; /* Set width to 100% for each favorite item */
        margin-bottom: 10px; /* Add some space between items */
    }
}



#header-image {
    width: 100%;
    height: auto;
}

/* Summary styles with white font color for better readability */
#summary-Super-Mario-World,
#summary-Super-Mario-Kart,
#summary-EarthBound,
#summary-Super-Mario-All-Stars,
#summary-Super-Mario-Advance-4-Super-Mario-Bros-3,
#summary-Pokemon-FireRed-and-LeafGreen {
    color: #FFFFFF; /* White font color */
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}



/* Add more CSS rules for other game summaries */
